
<div id="home">
  <header id="nav">
    <h1>SHABOK</h1>
    <div id="menu">
      <div class="botones">
        <button class="boton" (click)="click(0)">BUSQUEDA</button>
        <button class="boton" (click)="click(1)">LIBRERIA</button>
        <button class="boton" (click)="click(2)">CHAT</button>
      </div>
      <div id="user">
        <img src="assets/img/user.png">
        USERNAME
      </div>
    </div>
  </header>
  <div id = "comps">
    <app-busqueda></app-busqueda>
    <div id="libros">
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
      <app-libro></app-libro>
    </div>
  </div>
</div>
